/app/bootstrap.php.cache
/app/config/parameters.yml
/app/config/deploy.rb
/app/cache/*
!app/cache/.gitkeep
/app/database/*
!/app/database/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/backups/
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/assetic/*
/web/css/*
/web/js/*
/web/media/*
!/web/media/.gitkeep
/web/uploads/*
!/web/uploads/.gitkeep
/.idea
/Capfile
